body{
    padding: 0px;
    margin: 0px;
    background: #1c2122;
}
.pack{
    position: absolute;
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
.pack input[type="checkbox"]{
    position: relative;
    width: 60px;
    height: 34px;
    -webkit-appearance:none;
    outline: none;
    box-shadow: inset 0 0 12px rgba(0,0,0,0.6);
    background-color: rgb(177, 173, 173);
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;
}
.pack Input:checked[type="checkbox"]
{
  background: #39ff14;
}
.pack input[type="checkbox"]::before{
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    top: 4px;
    left: 5px;
    border-radius: 26px;
    background: rgb(255, 255, 255);
    transform: scale(1.1);
    transition: 0.5s;
    /* box-shadow:0 3px 8px rgba(0,0,0,0.4); */
}
.pack Input:checked[type="checkbox"]::before{
    left: 29px;
}
